<div class="container new-post">
    <h3> New Post </h3>
    <form id="new-post-form">
        <div class="form-group" class="card-body">
            <label for="exampleFormControlTextarea1">Title</label>
            <input class="form-control" name="post-title" type="text" id="post-title" placeholder="Your Title Here">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Your Post Here</label>
            <textarea class="form-control" name="post-body" id="post-body" rows="3"></textarea>
        </div>
        <button type="submit" class="create-btn btn btn-dark"> Create Post </button>
    </form>
</div>

<div class="container" id="all-posts">
    {{#if posts.length}}
    <h3> Your Previous Posts </h3>
    <div class="your-posts">
        <div id="post-card" class="card justify-content-center">
            {{#each posts as |post|}}
            <ul>
                <div class="dash-post-body dash-card-body">
                    <div class="dash-card-title">
                        <a class="dash-title" href="/post/{{id}}">{{title}}</a>
                    </div>
                    <div class="info card-subtitle text-muted">
                        Posted on {{format_date created_at}}
                    </div>
                </div>
                <a  href="/dashboard/edit/{{post.id}}" class="edit">Edit</a>
            </ul>
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>

{{!-- <div class="new-post">
    <button type="submit" href="/dashboard/posting" class="create btn btn-primary"> + New Post </button>
</div> --}}

<script src="/js/add-post.js"></script>