<div class="edit-post">
    <a href="/dashboard"> Go back to Dashboard </a>
    <h3> Edit Post </h3>
    <form class="form-edit-post">
        <div class="form-group">
            <input class="title-edit form-control" type="text">
        </div>
        <div class="form-group">
            <textarea class="text-edit form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="edit-btn btn btn-primary"> Save </button>
        <button type="submit" class="delete-btn btn btn-primary"> Delete </button>
    </form>
</div>