<div class="container">
<form class="form-login"> 
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp"/>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="password-login"/>
    </div>
    <div class="sign-up"> 
        Not a part of the Tech family yet? <a href="/signup"> Sign Up </a>
    </div>
    <button type="submit" class="login-btn btn btn-primary">Login</button>
</form>
</div>

<script src="/js/login.js"></script>