<form class="form-sign-up">
    <div class="form-group">
        <label for="username-input">Username</label>
        <input type="username" class="form-control" id="username-input" aria-describedby="usernameHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="login"> 
        Already part of the Tech family? <a href="/login"> Login </a>
    </div>
    <button type="submit" class="signup-btn btn btn-primary">Submit</button>
</form>