* {
    background-color: rgb(29, 28, 28);
}

.header-img {
    width: 700px;
    height: auto;
}

.card {
    margin-bottom: 30px;
}

nav {
    text-align: center;
    padding-bottom: 50px;
    text-decoration: none;
}

nav a {
    color: white;
}

nav a:visited {
    text-decoration: none;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    color: #00aa9b;
}


.nav-item {
    padding-right: 20px;
}

.card-title {
    font-size: 25px;
}

.info {
    font-size: 15px;
    font-style: italic;
}

#all-posts {
    margin-top: 20px;
}

.edit {
    float: right;
    padding-top: -63px;
    padding-right: 30px;
}

#header {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.single-comment {
    margin-bottom: 20px;
}