/* ------------ ALL PAGES STYLING START ------------*/
* {
    background-color: #1f263e;
    color: white;
}
/* ------------ ALL PAGES STYLING END ------------*/


/* ------------ HEADER + NAV STYLING START ------------*/
.header-img {
    width: 700px;
    height: auto;
}

#header {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

nav {
    text-align: center;
    padding-bottom: 50px;
    text-decoration: none;
}

nav a {
    color: white;
}

nav a:visited {
    text-decoration: none;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    color: #635a90;
}

.nav-item {
    padding-right: 20px;
}
/* ------------ HEADER + NAV STYLING END ------------*/


/* ------------ POST-BODY (HOME PAGE) STYLING START ------------*/
.post-title {
    font-size: 20px
}

.href {
    color: white;
}

.href:visited {
    text-decoration: none;
}

.href:link {
    text-decoration: none;
}

.href:hover {
    text-decoration: none;
}

.post-container {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    width: 650px;
    height: auto;
}

.post-card {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border: none;
    margin-bottom: 30px;
    border-radius: 7px;
}

.post-card:hover {
    box-shadow: 0 0 5px #fff, 3px 3px 6px 3px #090d15;
    text-decoration: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.card-body:hover {
    color: #635a90;
}

.card-body:link {
    text-decoration: none;
    
}

.card-body {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border: 1px solid #2f404f;
}

.card-title {
    font-size: 25px;
    text-align: center;
}

.card-text {
    text-align: center;
}

.info {
    font-size: 12px;
    
}

#all-posts {
    margin-top: 20px;
}
/* ------------ HEADER + NAV STYLING END ------------*/


/* ------------ SINGLE POST WITH COMMENTS STYLING START ------------*/
.comment-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#comment-form {
    width: 650px;
    height: auto;
}

.previous-comments {
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------ SINGLE POST WITH COMMENTS STYLING START ------------*/


/* ------------ COMMENTS STYLING START ------------*/
.single-comment {
    margin-bottom: 20px;
}

.text {
    margin-bottom: 3px;
}

.comment-btn {
    margin-top: 3px;
}

#comments-container {
    width: 650px;
}

/* ------------ COMMENTS STYLING END ------------*/


/* ------------ DASHBOARD STYLING START ------------*/
.new-post {
    width: 650px;
    
}

#all-posts {
    width: 650px;
    margin-top: 50px;
}

.dash-card-title {
    margin-top: 15px;
}

.card-subtitle {
    margin-bottom: 15px;
}

.dash-title{
    color: white;
}    

.dash-title:link {
    text-decoration: none;
}

.dash-title:visited {
    text-decoration: none;
}

.dash-title:hover {
    color: #635a90;
}

#post-card {
    border: 1px solid #2f404f;
    border-radius: 7px;
}

.edit {
    float: right;
    margin-top: -45px;
    margin-right: 30px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}
/* ------------ DASHBOARD STYLING END ------------*/


/* ------------ EDIT POST STYLING START ------------*/
.edit-post {
    width: 650px;
    align-items: center;
}

.edit-post-body {
    margin-top: 15px;
}

#update-btn {
    margin-top: 3px;
}

#delete-btn {
    margin-top: 3px;
}

/* ------------ EDIT POST STYLING END ------------*/


/* ------------ LOGIN STYLING START ------------*/
.sign-up-link {
    color: white;
}

.sign-up-link:visited {
    text-decoration: none;
}

.sign-up-link:hover {
    color: #635a90;
}

.sign-up-container {
    width: 650px;
}

.login-btn {
    margin-top: 5px;
}

/* ------------ LOGIN STYLING END ------------*/


/* ------------ SIGN UP STYLING START ------------*/
.login-link {
    color: white;
}

.login-link:visited {
    text-decoration: none;
}

.login-link:hover {
    color: #635a90;
}

.signup-container {
    width: 650px;
}

.signup-btn {
    margin-top: 5px;
}


/* ------------ SIGN UP STYLING END ------------*/

/*  Media Query */