.card {
    margin-bottom: 30px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

.nav-item {
    margin-right: 20px;
}

.card-title {
    font-size: 25px;
}

.info {
    font-size: 15px;
    font-style: italic;
}

#all-posts {
    margin-top: 20px;
}

.edit {
    float: right;
    margin-top: -63px;
    margin-right: 30px;
}

#header {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.single-comment {
    margin-bottom: 20px;
}